<!--Main Navigation-->
<!-- Background image -->
<div id="intro" class="bg-image shadow-2-strong" style="background-image: url(../assets/bwi_tlo.jpg);">
  <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.8);">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-md-8">
          <form class="bg-white border rounded strong p-5" [formGroup]="LoginForm">
            <div class="container">

              <!-- Logo -->
              <div>
                <a class="d-flex justify-content-center">
                  <img class="img" src="../assets/bwi-logo.png">
                </a>
              </div>
            </div>

            <!-- Net ID input -->
            <div class="form-group">
              <input type="text" formControlName="netid" id="form1Example1" class="form-control" placeholder="Net ID" />
              <label class="form-label" for="form1Example1"></label>
            </div>

            <!-- Password input -->
            <div class="form-group">
              <input type="password" formControlName="haslo" id="form1Example2" class="form-control"
                placeholder="Hasło" />
              <label class="form-label" for="form1Example2"></label>
            </div>

            <!-- Submit button -->
            <div class="d-flex justify-content-center mb-4">
              <button routerLink="home" (click)="onSubmit()" type="button" class="btn btn-primary">Zaloguj</button>
            </div>
  
            <div class="strike">
              <span>
                <h5>Albo</h5>
              </span>
            </div>

            <!-- ID Card -->
            <!-- <div class="d-flex justify-content-start ms-5 mt-4">
                <i type="button" class="fas fa-id-card-alt fa-5x" style="color: #1266F1"></i> -->
            <button routerLink="badge" (click)="onBadge()" type="button"
              class="btn d-flex justify-content-center mx-auto" title="Kliknij aby zalogować">
              <div class="d-flex justify-content-center" style="color: #1266F1">
                <i class="fas fa-id-card-alt fa-5x me-4"></i>
                <div class="align-self-center">
                  <span style="color:black">
                    <h4>{{ badge }}</h4>
                  </span>
                </div>
              </div>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Background image -->

<router-outlet></router-outlet>