<navbar></navbar>
<!-- Background Image -->
<!-- <div class="bg-image mask d-flex align-items-center" style="background-image: url(../assets/bwi_tlo.jpg);"></div> -->
<div id="intro" class="bg-image shadow-2-strong" style="background-image: url(../assets/bwi_tlo.jpg);">
  <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.8);">

<!-- Ticket -->
<div class="card mx-auto" style="width: 60%;">
  <div class="card-body">
    <div class="container-fluid">
      <div class="input-group d-flex justify-content-center mx-auto mb-3 row">
        <div class="px-0 me-1 col-2">
          <label class="input-group-text d-flex justify-content-center" for="inputGroupSelect01">Kategoria</label>
        </div>
        <div class="px-0 me-1 col-7">
          <select class="form-select" id="inputGroupSelect01">
            <option disabled hidden selected>Wybierz...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="px-0 col">
          <select class="form-select" id="inputGroupSelect02">
            <option disabled hidden selected>Priorytet</option>
            <option value="1">Wysoki</option>
            <option value="2">Średni</option>
            <option value="3">Niski</option>
          </select>
        </div>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="addon-wrapping">Temat</span>
        <input type="text" class="form-control" placeholder="Wpisz temat">
      </div>
      <div class="input-group mb-3">
        <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
          aria-label="Upload">
        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Button</button>
      </div>
      <div class="form-floating">
        <textarea class="form-control" placeholder="Komentarz" id="floatingTextarea" style="height: 150px"></textarea>
        <label for="floatingTextarea">Komentarz</label>
      </div>
      <div class="text-center mt-3 d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-lg btn-primary">Wyślij</button>
      </div>
    </div>
  </div>
</div>

</div>
</div>


